.breadcrumbs{
    background: #fff;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    text-transform: capitalize;

    @include tablet{
        font-size: 1.6rem;
    }

    a{
        color: $color-red;
        &:hover{
            color: $primary-main
        }
    }
}