.comment-part{
    padding: 10rem 5rem 17rem 5rem;

    @include laptop{
        padding: 5rem 2rem 17rem 2rem;
    }

    @include tablet{
        padding: 5rem 2rem 5rem 2rem;
    }

    @include mobile{
        padding: 3rem 1rem 0rem 1rem;
    }

    .comment-list{
        margin-bottom: 2rem;

        li{
        list-style: none;
        padding-bottom: 2rem;
        }

    }

    p{
        font-size: 15px;
        line-height: 24px;
    }
    .comment-meta{
        margin-top: 2rem;
    }
    
    .dis-area{
        font-size: 3.6rem;
        color: #101010;
        font-family: 'Poppins',sans-serif;
        font-weight: 700;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            bottom: -2.4rem;
            height: 3px;
            width: 10rem;
            background: $color-green;
            left: 0;
        }

        @include mobile{
            font-size: 3rem;       
        }
    }

    .cmnt-n{
        font-family: 'Rubik',sans-serif;
        font-weight: 400;
        color: $color-green;
        margin-left: 12rem;
        font-size: 1.6rem;
        
    }

    .comment-list{
        padding-top: 5rem;
        .avatar{
            border: 1px solid $color-bg;
            height: auto;
        }

        @include mobile{
            padding-top: 1rem; 
        }

        .fn{
            font-family: 'Poppins',sans-serif;
            font-size: 20px;
            font-weight: 600;
            text-transform: capitalize;
            vertical-align: top;
            margin-left: 1rem;
            display: inline-block;
            padding-top: 5px;  

            @include mobile{
                font-size: 16px;
                padding-top: 0px;       
            } 

            a{
                color: #101010;
                pointer-events: none;
            }
        }
        .says{
            display: none;
        }

        .comment-metadata{
                display: inline;
                float: left;
                margin-top: -22px;
                margin-left: 65px;
                font-size: 13px;
                a{
                    color: $primary-heading;
                    pointer-events: none;
                }
        }

        .comment-content{
            padding: 3rem 5rem 3rem 5rem;
            border: 1px solid $color-bg;
            margin-top: 2rem;
            border-radius: 5px;

            @include laptop{
                padding: 3rem 2rem 3rem 2rem;
            }

            @include mobile{
                padding: 1rem 1rem 2rem 1rem;
            }
        }

        .reply{
            a{
                background: $color-white;
                display: inline-block;
                color: $primary-heading;
                padding: 5px 32px;
                transform: translate(50px, -19px);
                border: 1px solid $color-bg;
                border-radius: 5px;
                &:hover{
                    background: $primary-main;
                    color: $color-white;
                }
            }
        }
    }

    .comment.depth-1 > .children{
            padding-left: 10rem;

            @include laptop{
                padding-left: 5rem;
            }

            @include tablet{
                padding-left: 2rem;
            }
            

            .comment-content{
            padding: 2rem 3rem 2rem 3rem;
            border: 1px solid $color-bg;
            margin-top: 2rem;
            border-radius: 5px;
            background: $color-bg;
            p{
                margin-bottom: 0;
            }
            @include mobile{
                padding: 1rem 1rem 2rem 1rem;
            }
        }

        .comment-meta{
            margin-top: 0rem;
        }
    }

    .nav-links{
        text-align: right;
        .page-numbers{
            display: inline-block;
            @include equal_round(4rem, 3px);
            background: $color-bg;
        }

        .page-numbers.current{
            background: $primary-main;
            color: #fff;
        }
    }

    .comment-respond{
        border: 1px solid $color-bg;
        padding: 5rem;
        @include laptop{
            padding: 4rem 1rem;  
            border: 0;
        }

        @include tablet{
            padding: 0rem 1rem;
        }

        @include mobile{
            padding-top: 4rem;
        }

        .comment-reply-title{
            font-family: 'Poppins',sans-serif;
            font-size: 2.6rem;
            
        }
        .comment-notes{
            color: $primary-heading;
            font-weight: 400;
            font-family: 'Rubik',sans-serif;
        }

        .comment-form-comment{
            label[for='comment']{
                display: none;
            }
        }
        textarea{
            width: 100%;
            padding: 2rem;
            border: 1px solid $primary-heading;
        }

        .comment-form-author,
        .comment-form-email,
        .comment-form-url{
            label{
                width: 10rem
            }

            input{
                padding: 5px 2rem;
                border: 1px solid $primary-heading;

                @include mobile{
                    width: 100%;
                }
            }
        }

        #submit{
            background: $primary-main;
            font-size: 1.8rem;
            text-transform: uppercase;
            border-radius: 0;
            outline: 0;
            padding:1.5rem 3rem;
            color: #fff;
            font-family: 'Rubik',sans-serif;
            box-shadow: 5px 15px 25px rgba($primary-main, .4);
            vertical-align: middle;
            border: 0;
            margin-top: 2rem;
            &:hover{
                background: $color-red;
            }
        }
    }

    .comment-closed{
        background: rgba($color-red, .2);
        color: $color-red;
        margin-top: 4rem;
        padding:1rem 4rem;
        text-transform: uppercase;
    }

    .comment-awaiting-moderation{
        display: block;
        text-align: right;
        color: $color-red;
    }

    
    .logged-in-as{
        a:first-child{
            color: #666
        }
        a:last-child{
            color: red;
            text-decoration: underline;
        }
    }

    .comment-reply-title > a {
        color: #23282D;
        font-size: 18px;
        text-decoration: underline;
    }
    #cancel-comment-reply-link {
        background: #EF4C6A;
        color: #fff;
        font-size: 14px;
        font-family: 'Rubik',sans-serif;
        padding: 5px 10px;
        
    }


}