.post-password-form{

    background: $color-white;
    max-width: 50rem;
    margin: 0 auto;
    margin-top: 15vh;
    padding: 10rem 8rem;
    box-shadow: 0 1rem 2rem rgba(#000,.1);
    text-align: center;

    p:first-child{
        padding-bottom: 2rem;
        font-size: 1.6rem;
        line-height: 2.6rem;
    }

    p:last-child{
        label{
            display: block;

            input{
                display: block;
                width: 100%;
                padding: 1rem 2rem;
            }
        }

        input[type="submit"]{
            background: $color-green;
            border: 0;
            width: 100%;
            margin-top: 1rem;
            color: #fff;
            padding: 1.4rem 2rem;
            text-transform: uppercase;
            box-shadow: 0 1rem 2rem rgba($color-green,.2);
        }
    }



    @include mobile{
        padding: 5rem 2rem;
        margin-top: 10vh;
    }

}