#sidebar-container{
    @include laptop{
        flex: 0 0 0 0;
    }

}

.sidebar{
    background: $color-white;
    padding: 1.5rem;
    padding-top: 10rem;
    position: sticky;
    top: 14rem;
    height: 90vh;
    max-width: inherit;
    margin-top: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow-y: scroll;
    z-index: 10;

    @include small-desktop{
        top: 0rem;
        margin-top: 0;
        height: 100vh;
        padding-top: 16rem;
        border-right: 1px solid $color-bg;
    }

    
    @include laptop{
        position: fixed;
        width: 300px;
        top: 0px;
        left: -300px;
        padding-top: 8rem;
        margin-top: 6rem;
        height: 100vh;
        border-right: 1px solid $color-bg;
        padding-bottom: 8rem;
    }

    @include mobile{
        margin-top: 5rem;
    }

    .sidebar-close{
        position: absolute;
        right: 3rem;
        top: 3rem;
        color: $color-red;
        display: none;
    }

    &__header{

        ul{
        li{ 
            a{
                color: $primary-heading;
                font-weight: 500;
                padding: 0rem 2rem 2rem 0 0;
                display: block;
                font-size: 1.6rem;
                margin-bottom: 1rem;
                &:hover{
                    background: rgba($primary-main,.1);
                    color: $primary;

                    i{
                        background: $color-green;
                        color: $color-white;
                        box-shadow: .5rem 1rem 2rem rgba($color-green, .4);
                        transform: scale(1);
                    }
                }

                span{
                    padding-left: 1rem;
                }

                i{
                    @include equal_round(5rem, 10%);
                    transform: scale(.8);
                    @extend %transition;
                }
            }
        }
    }
    }

&::-webkit-scrollbar {
    width: .3em;
}

&::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
}

&::-webkit-scrollbar-thumb {
    background-color: $color-green;
    outline: 1px solid slategrey;
}


}


$menuList : (
    home,
    result,
    schedule,
    about,
    admission,
    resources,
    contact
);

@each $selector in $menuList{
    .sidebar-#{$selector}{
        .sidebar{
            &__header{
                ul{
                    li.#{$selector}{
                        a{
                            background: rgba($primary-main,.1);
                            color: $primary;

                            i{
                                background: $color-green;
                                color: $color-white;
                                box-shadow: .5rem 1rem 2rem rgba($color-green, .4);
                                transform: scale(1);
                            }
                        }
                    }
                }
            }
        }
    }
}
