:root{
--primary: #0D2F81;
--primary-main: #FFE7AA;
--primary-heading: #A1A6B1;
--color-black:#101010;
--color-white: #fff;
--color-transparent : transparent;
}


$btn-sp: #007BFF;
$btn-ss: #D3DBE7;

$padding-y: 100px 0;

$small_mobile: 360px;
$mobile: 575.98px;
$tablet: 768px;
$large_tablet: 991px;
$laptop: 1199.98px;
$small_desktop: 1600px;

$body-max : 180rem;
$poppins : 'Poppins', sans-serif;
$rubik : 'Rubik', sans-serif;



