.admin_payment{
    .header{
        h1{
            padding-bottom: 20px;
        }
        input,
        select{
            padding:10px 30px;
            font-size:20px;
            cursor: pointer;
        }

        button{
            padding: 12px 27px;
            font-size: 20px;
            background: #3A56F9;
            color: #fff;
            border: 0;
            cursor: pointer;
            &:hover{
                background: #000;
            }
        }

    }

    .admin_payment_body{
        table{
            background: #fff;
            width: 100%;
            margin-top: 50px;
            td,th{
                text-align: left;
                padding:10px 30px;

                a{
                    background: green;
                    color: #fff;
                    padding: 0 23px;
                }
            }

            th{
                background: #3A56F9;
                color: #fff;
                font-weight: 400;
            }

            td{
                border-top: 1px solid #eee;
            }
        }
    }
}