.page-default{
    margin-top: 14rem;
    max-width: 180rem;
    background: $color-white;
    overflow-x: hidden;

    @include small-desktop{
        margin-top: 8rem;
    }

    @include laptop{
        margin-top: 6rem;
    }



    &__banner{
        padding: 20rem 10rem;
        background-size: cover;
        background-position: center center;
        text-align: center;

        @include tablet{
            padding: 15rem 2rem;
        }

        &__title{
            font-size: 8rem;
            color: $color-white;
            font-weight: 800;
            text-transform: uppercase;
            text-shadow: 0 5px 2rem rgba(#000, .2);
            margin-bottom: 2rem;

            @include tablet{
                font-size: 6rem;
            }

            @include mobile{
                font-size: 5rem;
            }
        }

        .breadcrumbs{
            box-shadow: 0 5px 2rem rgba(#000, .1);
            
        
        }


    }


}